# انسخ هذا الملف إلى .env وأدخل قيمك

# توكن البوت من @BotFather
BOT_TOKEN=8735496478:AAEkXWrH7yr4QWURdVcHvi07ChzvPmL0r64

# ID الأدمن (أو عدة IDs مفصولة بفاصلة)
# للحصول على ID أرسل /start لـ @userinfobot
ADMIN_IDS=8287678319
